<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tlessbell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tlessbell">
        <activity
            android:name=".UbahEmailBaruActivity"
            android:exported="false" />
        <activity
            android:name=".UbahEmailActivity"
            android:exported="false" />
        <activity
            android:name=".KonfirmasiUbahPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UbahPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UbahKalimatPesanActivity"
            android:exported="false" />
        <activity
            android:name=".TambahKalimatPesanActivity"
            android:exported="false" />
        <activity
            android:name=".PengaturanKalimatPesanActivity"
            android:exported="false" />
        <activity
            android:name=".UbahIdAlatActivity"
            android:exported="false" />
        <activity
            android:name=".UbahNamaActivity"
            android:exported="false" />
        <activity
            android:name=".InformasiAkunActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>